@import '@gravity-ui/uikit/styles/fonts.css';
@import '@gravity-ui/uikit/styles/styles.css';

@import '../../public/styles/lib/gravity/breadcrumbs.css';
@import '../../public/styles/lib/gravity/vars.css';
@import '../../public/styles/lib/gravity/card.css';
@import '../../public/styles/lib/gravity/modal.css';
@import '../../public/styles/lib/gravity/label.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
